
.mainContainer{
    height: 100vh;
    width: 100vw;
    padding-top: calc(60px + 10px);
    padding-left: calc(80px + 10px);
    padding-right: 10px;
    padding-bottom: calc(70px + 10px);
    overflow: auto;
}
.mainContainer > .musicItemContainer{
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    padding: 0 6px;
    margin-bottom: 6px;
    border-left: 4px solid transparent;
}
.musicItemContainer.active{
    background-color: #7ac4c66b;
    border-color: #e78d24a1;
}